
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">
    
     <bean id="dataSourceBean" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
 <property name="url" value="jdbc:mysql://Desktop-6jh0ag4:3306/bd_ldarmazens" ></property>
 <property name="username" value="root" />
  <property name="password" value="1234" />
  </bean>
  
   <bean id="persistenceAdapter" class="org.apache.activemq.store.jdbc.JDBCPersistenceAdapter">
 <property name="createTablesOnStartup" value="true" />
 <property name="dataSource" ref="dataSourceBean" ></property>
 <property name="useLock" value="false" />
   </bean>
  
    
 
	<bean id="localBroker" class="org.apache.activemq.broker.BrokerService" init-method="start"
 destroy-method="stop">
 <property name="brokerName" value="localhost" />
 <property name="useJmx" value="false" />
  <property name="persistent" value="true" />
    <property name="persistenceAdapter" ref="persistenceAdapter" />
  
 
</bean>

<bean id="politica" class="org.apache.activemq.RedeliveryPolicy">
  <property name="initialRedeliveryDelay" value="10000" />
 <property name="redeliveryDelay" value="60000" />
 <property name="maximumRedeliveries" value="-1" />
</bean>

<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory" depends-on="localBroker">
  <property name="brokerURL" value="vm://localhost?create=false" />
 <property name="redeliveryPolicy" ref="politica" />
</bean>

<bean id="jmsTransactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
  <property name="connectionFactory" ref="connectionFactory" />
</bean>



<bean id="cacheConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
 <constructor-arg ref="connectionFactory" />
 <property name="sessionCacheSize" value="5" />
</bean>

<bean id="fila1" class="org.apache.activemq.command.ActiveMQQueue">
 <constructor-arg value="fila1" />
</bean>

<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
 <property name="connectionFactory" ref="cacheConnectionFactory" />
 <property name="defaultDestination" ref="fila1" />
</bean>

<bean id="listenerMensagem" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
 <property name="connectionFactory" ref="cacheConnectionFactory" />
 <property name="destination" ref="fila1" ></property>
 <property name="messageListener" ref="receptor" />
</bean>
 


 
 
 <context:component-scan base-package="mensageria" />
</beans>




 
 